<body style="background-color: black;">
    <main>
        <section class="video-section">
            <video autoplay muted loop id="video-bg">
                <source src="resources/view/pages/componentes/videos/sup.mp4" type="video/mp4">
            </video>
            <div class="video-content">
                <div class="login-section">
                    <h1>Por favor, escolha uma opção:</h1>
                    <a href="{{URL}}/login"    class="btn">Já sou cliente</a>
                    <a href="{{URL}}/cadastro" class="btn">Fazer meu cadastro</a>
                </div>
            </div>
        </section>
    </main>
</body>
