<body style="background-color: #161243; font-family: 'Roboto', sans-serif;">
<main>
    <section class="content-section-produtos" style="background-color: #232758; border-radius: 10px; padding: 20px; text-align: center;">
        <div class="content">
            <form method="post" action="../../../phplace-market/src/Models/Validators/cadastro_validator.php" class="formulario-azul" style="color: white; max-width: 400px; margin-top: 200px; margin-bottom: 200px;">
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="name" required style="width: 100%; padding: 10px; margin-bottom: 15px; border: none; border-radius: 5px;">
                <br><br>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required style="width: 100%; padding: 10px; margin-bottom: 15px; border: none; border-radius: 5px;">
                <br><br>
                <label for="senha">Senha:</label>
                <input type="password" id="senha" name="password" required style="width: 100%; padding: 10px; margin-bottom: 15px; border: none; border-radius: 5px;">
                <br><br>
                <button type="submit" style="background-color: #007BFF; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;">Cadastrar</button>
            </form>
        </div>
        <br>
        <h1 style="color: #FF3333; margin-top: 10px;">{{error}}</h1>
    </section>
</main>
</body>
