<footer>
    <div class="footer">
        <section class="footer-section">
            <div class="column">
                <img src="componentes/imagens/phplacesecond.png" alt="phplace-logo" />
            </div>
            <div class="column">
                <nav class="main-menu">
                    <ul>
                        <li><a href="index.html">Inicio</a></li>
                        <li><a href="produtos.html">Produtos</a></li>
                        <li><a href="fundadores.html">Fundadores</a></li>
                        <li><a href="sobre-nos.html">Sobre Nós</a></li>
                        <li><a href="area-do-cliente.html">Área do Cliente</a></li>
                    </ul>
                </nav>
            </div>
            <div class="column">
                <iframe
                        src="https://maps.google.com/maps?q=universidade%20de%20uberaba%20campus%20aeroporto&t=m&z=14&output=embed&iwloc=near"
                        title="universidade de uberaba campus aeroporto"
                        aria-label="universidade de uberaba campus aeroporto"></iframe>
            </div>
        </section>
    </div>
</footer>