<footer>

    <div class="footer">
        <section class="footer-section">
            <div class="column">
                <img src="resources/view/pages/componentes/imagens/phplacesecond.png" alt="phplace-logo" draggable="false"/>
            </div>
            <div class="column">
                <nav class="main-menu">
                    <ul>
                        <li><a href="{{URL}}">Inicio</a></li>
                        <li><a href="{{URL}}/produtos">Produtos</a></li>
                        <li><a href="{{URL}}/fundadores">Fundadores</a></li>
                        <li><a href="{{URL}}/sobre-nos">Sobre Nós</a></li>
                        <li><a href="{{URL}}/area-do-cliente">Área do Cliente</a></li>
                    </ul>
                </nav>
            </div>
            <div class="column">
                <iframe
                        src="https://maps.google.com/maps?q=universidade%20de%20uberaba%20campus%20aeroporto&t=m&z=14&output=embed&iwloc=near"
                        title="universidade de uberaba campus aeroporto"
                        aria-label="universidade de uberaba campus aeroporto"></iframe>
            </div>
        </section>
    </div>

</footer>