<body style="background-color: #161243;">
    <header class="main-header">
        <div class="logo">
            <a href="index.html"><img src="componentes/imagens/phplacesecond.png" alt="Logo"></a>
        </div>
        <div class="menu-icon" onclick="toggleMenu()">
            &#9776; <!-- Ícone do menu hamburguer -->
        </div>
        <ul id="menu">
            <li><a href="index.html">Inicio</a></li>
            <li><a href="produtos.html">Produtos</a></li>
            <li><a href="fundadores.html">Fundadores</a></li>
            <li><a href="sobre-nos.html">Sobre nós</a></li>
            <li><a href="area-do-cliente.html">Área do cliente</a></li>
        </ul>
    </header>

    <main>
        <section class="content-section-produtos">
            <div class="content">
                <!-- Code Snippet -->
                <img src="componentes/imagens/fundadores/fundadores.svg" alt="">
                <!-- Fim do Code Snippet -->
            </div>
        </section>
    </main>
</body>>