<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos - Supermercado PHPlace</title>
    <link rel="stylesheet" href="resources/view/pages/estilos/style.css">
    <!-- Seus estilos CSS podem ser incluídos aqui -->
</head>

<body style="background-color: #161243;">
    <header class="main-header">
        <div class="logo">
            <a href="index.html"><img src="componentes/imagens/phplacesecond.png" alt="Logo"></a>
        </div>
        <div class="menu-icon" onclick="toggleMenu()">
            &#9776; <!-- Ícone do menu hamburguer -->
        </div>
        <ul id="menu">
            <li><a href="index.html">Inicio</a></li>
            <li><a href="produtos.html">Produtos</a></li>
            <li><a href="fundadores.html">Fundadores</a></li>
            <li><a href="sobre-nos.html">Sobre nós</a></li>
            <li><a href="area-do-cliente.html">Área do cliente</a></li>
        </ul>
    </header>

    <main>
        <section class="content-section-produtos">
            <div class="content">
                <!-- Code Snippet -->
                <img src="componentes/imagens/fundadores/fundadores.svg" alt="">
                <!-- Fim do Code Snippet -->
            </div>
        </section>
    </main>

    <footer>
        <div class="footer">
            <section class="footer-section">
                <div class="column">
                    <img src="componentes/imagens/phplacesecond.png" alt="phplace-logo" />
                </div>
                <div class="column">
                    <nav class="main-menu">
                        <ul>
                            <li><a href="index.html">Inicio</a></li>
                            <li><a href="produtos.html">Produtos</a></li>
                            <li><a href="fundadores.html">Fundadores</a></li>
                            <li><a href="sobre-nos.html">Sobre Nós</a></li>
                            <li><a href="area-do-cliente.html">Área do Cliente</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="column">
                    <iframe
                        src="https://maps.google.com/maps?q=universidade%20de%20uberaba%20campus%20aeroporto&t=m&z=14&output=embed&iwloc=near"
                        title="universidade de uberaba campus aeroporto"
                        aria-label="universidade de uberaba campus aeroporto"></iframe>
                </div>
            </section>
        </div>
    </footer>