<header class="main-header">

    <div class="logo">
        <a href="index.html"><img src="componentes/imagens/phplacesecond.png" alt="Logo"></a>
    </div>
    <div class="menu-icon" onclick="toggleMenu()">
        &#9776; <!-- Ícone do menu hamburguer -->
    </div>
    <ul id="menu">
        <li><a href="/">Inicio</a></li>
        <li><a href="produtos">Produtos</a></li>
        <li><a href="fundadores">Fundadores</a></li>
        <li><a href="sobre-nos">Sobre nós</a></li>
        <li><a href="area-do-cliente">Área do cliente</a></li>
    </ul>
</header>