<header class="main-header">

    <div class="logo">
        <a href="{{URL}}"><img src="resources/view/pages/componentes/imagens/phplacesecond.png" alt="Logo"></a>
    </div>
    <div class="menu-icon" onclick="toggleMenu()">
        &#9776; <!-- Ícone do menu hamburguer -->
    </div>
    <ul id="menu">
        <li><a href="{{URL}}">Inicio</a></li>
        <li><a href="{{URL}}/produtos">Produtos</a></li>
        <li><a href="{{URL}}/fundadores">Fundadores</a></li>
        <li><a href="{{URL}}/sobre-nos">Sobre nós</a></li>
        <li><a href="{{URL}}/area-do-cliente">Área do cliente</a></li>
    </ul>
</header>