<body style="background-color: black;">
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <script>
        // Função para alternar a visibilidade do menu em dispositivos móveis
        function toggleMenu() {
            var menu = document.getElementById("menu");
            menu.classList.toggle("active");
        }
    </script>


    <section class="video-section">
        <video autoplay muted loop id="video-bg">
            <source src="resources/view/pages/componentes/videos/istockphoto-1026632086-640_adpp_is.mp4" type="video/mp4">
        </video>
        <div class="video-content">
            <div class="text">
                <h1>Nós vamos ser seu supermercado!</h1>
            </div>
            <div class="logo">
                <img src="resources/view/pages/componentes/imagens/logo-simplified.png" alt="logo simples">
            </div>
        </div>
    </section>

    <section class="content-section">
        <div class="content">
            <div class="content-image">
                <img src="resources/view/pages/componentes/imagens/bodybuilder.png" alt="bodybuilder">
            </div>
            <div class="content-text">
                <h2>COMBATENDO</h2>
                <p>OS PREÇOS ALTOS!</p>
                <a href="{{URL}}/area-do-cliente" class="button">Área do cliente</a>
            </div>
        </div>
    </section>

</body>