<body style="background-color: #161243;">
<main>
    <section class="content-section-produtos">

        <br><br><br>
        <h1 style="color: white"> {{status}} </h1>

        <div class="content">
            <form method="post" action="../../../phplace-market/src/Models/Validators/login_validator" class="formulario-azul" style="margin-top: 200px; margin-bottom: 200px; color: white; font-family: 'Roboto', sans-serif">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required><br><br>
                <label for="senha">Senha:</label>
                <input type="password" id="senha" name="password" required><br><br>
                <button type="submit"> Fazer login </button>
            </form>
        </div>
        <br>

        <h1 style="color: white;">{{error}}</h1>

    </section>
</main>
</body>